@import url('https://fonts.googleapis.com/css2?family=Bytesized&family=Kode+Mono:wght@400..700&family=Press+Start+2P&family=Rubik+Mono+One&display=swap');

:root {
    --color-dark: #060606;
    --color-blue: #00426D;
    --color-dark-green: #0C8E8E;
    --color-middle-green: #39CAAB;
    --color-light-green: #A1FF95;
    --color-glowing-green: #00FFC8;
    --color-light: #FFFFFF;
}

.game {
    display: flex;
}

body {
    background-color: var(--color-dark);
    color: var(--color-light);
    overflow: hidden;
}

.container-left {
    width: 60ch;
    justify-items: center;
    margin-top: 4ch;
}

h1 {
    font-family: "Rubik Mono One", monospace;
    font-weight: 100;
    width: 21ch;
    height: 4ch;
    background: url('../img/name-text-holgrafik-effect.png');
    background-size: cover;
    background-position: center;
    text-align: center;
    align-content: center;
}

.button-box {
    width: 50ch;
    justify-items: center;
}

#game-button {
    margin-top: 12%;
    width: 30ch;
    height: 30ch;
    background: url('../img/green-button.png');
    background-size: cover;
    background-position: center;
    transition: 0.1s;
}

#game-button:hover{
    width: 31ch;
    height: 31ch;
    margin-top: 4.5ch;
    transition: 0.1s;
}

#floating-ring {
    width: 40ch;
    height: 40ch;
    background: url('../img/holografik-effect-button.png');
    background-size: cover;
    background-position: center;
    z-index: -1;
    align-content: center;
    justify-items: center;
    margin-bottom: 7.5ch;
    margin-top: 5ch;
}

.rod {
    width: 1.5ch;
    height: 16ch;
    background: url('../img/rod.png');
    background-size: cover;
    background-position: center;
    z-index: 0;
    justify-content: center;
}

img{
    width: 6ch;
    height: auto;
}

.charges-box {
    width: 60ch;
    height: 30ch;
    background: url('../img/bolt-background.png');
    background-size: cover;
    background-position: center;
    align-content: center;
    justify-items: center;
}

.bolt-rows {
    width: 30ch;
    display: flex;
    gap: 4ch;
    justify-content: center;
    margin-top: 1ch;
}

.bolts {
    margin-top: 3ch;
    visibility: hidden;
}

.vertical-divider {
    width: 1.8ch;
    height: auto;
    background: url('../img/container-one-seperator.png');
    background-size: contain;
    z-index: 2;
}

.container-middle {
    width: 114ch;
}

.stats {
    font-family: "Kode Mono", monospace;
    width: 65ch;
    height: 19ch;
    background: url('../img/stats-holografik-effect.png');
    background-size:contain;
    background-position: center;
    align-content: center;
    justify-self: center;
    margin-block: 1ch;
}

.stats h2 {
    margin-left: 3ch;
    line-height: 3.5ch;
}

li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    margin-left: 3ch;
}

.stats-divider {
    width: 100%;
    height: 3ch;
    background: url('../img/container-two-stats-divider.png');
    background-size:contain;
    background-position: center;
    align-content: center;
    justify-self: center;
    border-bottom: 1ch solid var(--color-blue);
}

.map {
    display: flex;
}

#map-part-one {
    width: 35.1ch;
    height: 30ch;
    background: url('../img/map-part-one.png');
    background-size:contain;
    background-position: center;
    visibility: hidden;
}

#map-part-two {
    width: 35ch;
    height: 18ch;
    background: url('../img/map-part-two.png');
    background-size:contain;
    background-position: center;
    margin-inline: 2.5ch;
    visibility: hidden;
}

#map-part-three {
    width: 19.7ch;
    height: 40ch;
    background: url('../img/map-part-three.png');
    background-size:contain;
    background-position: center;
    visibility: hidden;
}

#map-part-four {
    width: 40ch;
    height: 35.6ch;
    background: url('../img/map-part-four.png');
    background-size:contain;
    background-position: center;
    margin-left: 25ch;
    margin-top: 4ch;
    visibility: hidden;
}

.container-right {
    overflow: scroll;
    width: 60ch;
    height: auto;
    margin-top: 2ch;
    scrollbar-color: var(--color-dark);
}

h3 {
    width: 6ch;
    height: 3.2ch;
    font-family: "Press Start 2P", system-ui;
    font-size: 3rem;
    background: url('../img/store-holografik-effect.png');
    background-size:contain;
    justify-self: center;
    text-align: center;
    align-content: center;
}

.store-text {
    margin-bottom: 2ch;
}

.horizontal-divider {
    width: auto;
    height: 3.2ch;
    background: url('../img/container-three-divider.png');
    background-size:contain;
}

.upgrades {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 10ch;
    height: 30.5ch;
    width: 100%;
    border: 1.2ch solid var(--color-blue);
    background: url('../img/upgrades-grid.png');
    background-size:contain;
    background-position: center;
    justify-content: space-around;
    justify-items: center;
}

.upgrades > li {
    margin: 0;
}

#green-slime {
    width: 5ch;
    height: 5ch;
    background: url('../img/green-slime.png');
    background-size:contain;
    background-position: center;
    align-self: center;
}

#red-slime {
    width: 5ch;
    height: 5ch;
    background: url('../img/red-slime.png');
    background-size:contain;
    background-position: center;
    align-self: center;
}

#blue-slime {
    width: 5ch;
    height: 5ch;
    background: url('../img/blue-slime.png');
    background-size:contain;
    background-position: center;
    align-self: center;
}

#purple-slime {
    width: 5ch;
    height: 5ch;
    background: url('../img/purple-slime.png');
    background-size:contain;
    background-position: center;
    align-self: center;
}

#one-smiling {
    width: 5ch;
    height: 5ch;
    background: url('../img/1-smiling.png');
    background-size:contain;
    background-position: center;
    align-self: center; 
}

#hundred-smilings {
    width: 5ch;
    height: 5ch;
    background: url('../img/10-smiling.png');
    background-size:contain;
    background-position: center;
    align-self: center; 
}

#five-hundred-smilings {
    width: 5ch;
    height: 5ch;
    background: url('../img/100-smiling.png');
    background-size:contain;
    background-position: center;
    align-self: center; 
}

#thousand-smilings {
    width: 5ch;
    height: 5ch;
    background: url('../img/1000-smiling.png');
    background-size:contain;
    background-position: center;
    align-self: center; 
}

#speed-upgrade-one {
    width: 5ch;
    height: 5ch;
    background: url('../img/speed-one.png');
    background-size:contain;
    background-position: center;
    align-self: center; 
}

#speed-upgrade-two {
    width: 5ch;
    height: 5ch;
    background: url('../img/speed-two.png');
    background-size:contain;
    background-position: center;
    align-self: center; 
}

#speed-upgrade-three {
    width: 5ch;
    height: 5ch;
    background: url('../img/speed-three.png');
    background-size:contain;
    background-position: center;
    align-self: center; 
}

#speed-upgrade-four {
    width: 5ch;
    height: 5ch;
    background: url('../img/speed-four.png');
    background-size:contain;
    background-position: center;
    align-self: center; 
}

#green-slime:hover, 
#red-slime:hover,
#blue-slime:hover,
#purple-slime:hover,
#one-smiling:hover,
#hundred-smilings:hover,
#five-hundred-smilings:hover,
#thousand-smilings:hover,
#speed-upgrade-one:hover,
#speed-upgrade-two:hover,
#speed-upgrade-three:hover,
#speed-upgrade-four:hover {
    width: 110%;
    height: 77%;
}

.upgrade-text {
    position: absolute;
    right: 46ch;
    top: 28ch;
    width: 45ch;
    height: 13ch;
    background-color: var(--color-dark);
    background: url('../img/dashed-border.png');
    background-size:contain;
    background-position: center;
    align-self: center;
    overflow: hidden;
    visibility: hidden;
}

#green-slime-text,
#red-slime-text,
#blue-slime-text,
#purple-slime-text,
#coin-one-text,
#coin-two-text,
#coin-three-text,
#coin-four-text,
#speed-one-text,
#speed-two-text,
#speed-three-text,
#speed-four-text {
    margin-left: 4ch;
    margin-top: 3ch;
    font-family: "Kode Mono", monospace;
    visibility: hidden;
}

.machines {
    display: block;
    font-family: "Kode Mono", monospace;
    height: 100%;
}

.machines h4 {
    margin-left: 15ch;
}

.machines p {
    margin-left: 15ch;
}

#mixer,
#slime-blandare,
#modified-mixer,
#blandblandare,
#modifierad-bladblandare,
#modifierad-slime-blandare {
    width: auto;
    height: 15ch;
    align-content: center;
    font-size: 0.8rem;
    margin-right: 2ch;
}

#mixer:hover,
#slime-blandare:hover,
#modified-mixer:hover,
#blandblandare:hover,
#modifierad-bladblandare:hover,
#modifierad-slime-blandare:hover {
    width: auto;
    height: 16ch;
    background-size: 40%;
}

#mixer {
    background: url('../img/mixer.png');
    background-size:contain;
    background-size: 16ch;
    background-repeat: no-repeat;
    background-position: -4ch 2ch;
}

#slime-blandare {
    background: url('../img/slime-mixer-cement.png');
    background-size:contain;
    background-size: 16ch;
    background-repeat: no-repeat;
    background-position: -2ch 2ch;
}

#modified-mixer {
    background: url('../img/mixer-modified.png');
    background-size:contain;
    background-size: 18ch;
    background-repeat: no-repeat;
    background-position: -4ch 2ch;
}

#modifierad-slime-blandare {
    background: url('../img/slime-mixer-cement-modified.png');
    background-size:contain;
    background-size: 18ch;
    background-repeat: no-repeat;
    background-position: -4ch 2ch;
}

#blandblandare {
    background: url('../img/bladblandare.png');
    background-size:contain;
    background-size: 18ch;
    background-repeat: no-repeat;
    background-position: -5ch 2ch;
}
#modifierad-bladblandare {
    background: url('../img/bladblandare-modified.png');
    background-size:contain;
    background-size: 18ch;
    background-repeat: no-repeat;
    background-position: -5ch 2ch;
}

.machine-horizontal-divider {
    width: auto;
    height: 1ch;
    background: url('../img/container-three-divider.png');
    background-size:contain;
}

#msgbox {
    position: fixed;
    right: 2vmin;
    bottom: 2vmin;
    min-width: 16rem;
}

#msgbox > p {
    margin-bottom: var(--space-xs-s);
    padding: var(--space-xs-s);
}

.warning {
    background-color: palevioletred;
}

.success {
    background-color: mediumspringgreen;
}

.achievement {
    color: var(--color-light);
    background-color: rebeccapurple;
}



